<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748533448585-4utt5bvbc9v945d773v1cat90jqtqsv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748533448585-4utt5bvbc9v945d773v1cat90jqtqsv9</string>
	<key>API_KEY</key>
	<string>AIzaSyB5Ia2_DbI5po56VCzoTlgMo2z-JWVzs5w</string>
	<key>GCM_SENDER_ID</key>
	<string>748533448585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shotaiwata.FirestoreSample</string>
	<key>PROJECT_ID</key>
	<string>firestoresample-ba12b</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoresample-ba12b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748533448585:ios:1cd770fc6aed677177ab58</string>
</dict>
</plist>